body{
    font-family: vazir;
    
    background-color:#f9c656;
      background-attachment: fixed; 
  background-repeat: no-repeat;
  background-size: cover; 
 
}
.btnn{
    background-color: #debad7;
    
    color:black;
    padding:1px;
    border-radius: 10%;
    margin: 8% 1% 8% 1%;

    height:35px ;
    width:75px ;
    
}

#help{
  background-color: #27cca5;

}

#next_btn{
  margin: 0.2cm 0.2cm 0.2cm 0.2cm;
  height:45px ;
  width:95px ;
  border-radius: 10%;
}

#question_box{
  margin:0.3cm;
  color:#262928;
  padding:3px;
  border:1px ;
}
#timer{
  color: aliceblue;
  background-color: #b35da3;
   ;
  
}
