body{
    font-family: vazir;
    font-weight: bold;
    background-color:#1C2230;
      background-attachment: fixed; 
  background-repeat: no-repeat;
  background-size: cover; 
 
}
.navbar {
  display: flex;
  align-items: center;
  background-color: #2B3648;
  color: #A1D5E3;
  height: 60px;
  padding: 0 20px;
}

.navbar img {
  height: 41px;
  margin-right: 10px;
  border-radius: 50%;
}

.navbar button {
  font-weight: bold;
  color: #A1D5E3;
  background-color: #435465;
  font-size: 16px;
  height: 40px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.navbar button:hover {
  color: #ccc;
}



 #status_img {
  display: block;
  margin: 16px auto 24px auto;
  max-width: 100%;
  height: 250px;
  padding: 5% 20% 5% 20%;
 }
#question_box{
  margin:auto;
  padding:3px;
  border:1px ;
  color: #C7CED3;
  font-weight: bold;
}
.btnn{
    background-color: #556076;  
    color:#C7CED3;
    padding:1px;
    border-radius: 10%;
    margin: 2% 0.1% 2% 0.1%;
    height:35px ;
    width:80px ;
    font-weight: bold;
}



#next_btn{
  background-color: #FFC000;
  color: #243948;
  border-radius: 40px;
   font-weight: bold;
  margin-top: 24px;
  margin-bottom: 24px;
  height:45px ;
  width:95% ;

}


